@using Novo.Models.ReservaModels

@model ReservaUsuarioModel


<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Reservar">
            <input type="hidden" name="IdAmbiente" value="@Model.IdAmbiente"/>
            <input type="hidden" name="IdUsuario" value="@Model.IdUsuario"/>
            <h2>Reservar</h2>
            <div class="form-group">
                <p>
                    Nome: 
                    @Html.DisplayFor(model => model.Descricao)
                </p>
            </div>
            <div class="form-group">
                <p>
                    Status: 
                    @Html.DisplayFor(model => model.Status)
                </p>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataInicial" class="control-label"></label>
                <input type="datetime-local" asp-for="DataInicial" class="form-control" />
                <span asp-validation-for="DataInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFinal" class="control-label"></label>
                <input type="datetime-local" asp-for="DataFinal" class="form-control" />
                <span asp-validation-for="DataFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-default btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<h2>@ViewData["Message"]</h2>