@using Novo.Models.ReservaModels

@model ReservarAmbienteViewModel


<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ReservarAmbiente">
            <input type="hidden" name="IdAmbiente" value="@Model.IdAmbiente"/>
            <input type="hidden" name="IdUsuario" value="@Model.IdUsuario"/>
            <h2>Reservar</h2>
            <div>
                <p>
                    Nome: 
                    @Html.DisplayFor(model => model.Descricao)
                </p>
            </div>
            <div>
                <p>
                    Status: 
                    @Html.DisplayFor(model => model.Status)
                </p>
            </div>
            <fieldset>
                <h3>Periodo</h3>
                <select id="periodo" name="Periodo">

                    <option selected="selected" value="">Selecione o periodo</option>

                    <option value="0912">09:00 - 12:00</option>

                    <option value="1316">13:00 - 16:00</option>

                    <option value="1619">16:00 - 19:00</option>

                    <option value="1922">19:00 - 22:00</option>

                </select>

                <h3>Dia</h3>
                @Html.DropDownList("Dia")
                <div>
                    <input type="submit" value="Confirmar" />
                </div>
            </fieldset>
        </form>
    </div>
</div>
<br />
<h2>@TempData["ErrorMessage"]</h2>